# ----------------------------
# Your Virtual Environments
# ----------------------------
.venv/
.venv-1/
venv/

# ----------------------------
# Python Cache Files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Logs & Temp Files
# ----------------------------
*.log
*.sqlite3

# ----------------------------
# VS Code Settings
# ----------------------------
.vscode/

# ----------------------------
# Frontend Dependencies
# ----------------------------
node_modules/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db